# HELP Command 
 - shows the description about the object  that is given to the command
 - lets see how the help() command works for the print() command

In [2]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# COMMENTS 
  
  - comments are text in code that is not execute by the      interpreter
      -in pythone command begin with  #
  - comment may be used creatively to comment out pices of code to stop the interpreter from running it
  - shortcut to toggle comment on a line
       - CMD + /(macOS)
       - CMD + / (WINDOWS)

In [7]:
# THIS IS A COMMENT
print ('HELLO')

HELLO

In [8]:
''' this is a 
multiline comment'''

print ('anything ')

anything

# variables 
 - data entities that takes a value

In [10]:
# blind number 7 to variable 'x'
x = 7
print(x)

7

# PYTHON VARIABLE NAMING CONVENTION (INDUSTRY STANDARD) 
  - variables name start with lowercase letter or underscore 
      - can be followed by number or underscore 
  - snake_case is convenional way of writing variable names with multiple words
  - variable name cannot begin with number but number can be a part of the variable name later 
      - eg: name like : va923 , _app4r_ ,f8_9, tmp ; are allowed
      - eg: name like : 9va23 , #ap4r_ , tm*p : are not allowed

#SIMPLE PROGRAM 
 - **INPUT :**  USES THE *INPUT*  COMMAND 
 - **OUTPUT :** USE THE *PRINT* COMMAND

In [12]:
name = input ('what is your name ?')
print(name)

what is your name ? gauri

gauri

In [13]:
name = input ('what is your name ?')
print ('My name is ',name)

what is your name ? gauri

My name is  gauri

In [15]:
name = input ('what is your name ?')
age = input ('enter your age : ')
print('My name is ' ,name, 'and i am',age ,'years old.')

what is your name ? gauri
enter your age :  20

My name is  gauri and i am 20 years old.

# DATA TYPES
- A PERTICULAR KIND OF DATA ENTITY , DEFINED BY THE VALUES IT CAN TAKE 
- PYTHON HAS SEVERAL BUILD - IN DATA TYPES , SOME OF THEM ARE:
    - NUMERIC DATA TYPES
    - TEXT SEQUENCE DATA TYPE 
    - SEQUENCE DATA TYPES
    - MAPPING DATA TYPE 
    - BOOLEAN DATA TYPE
    - SET DATA TYPE
- THE type() function is used to check the data type of something in python

# numeric Data types
 - two basic data types 
    1. int : integers
    2. float : decimal number

In [2]:
x=7
print(x)
#check type of variables
type(x)

7

int

In [3]:
y=8.9
print(y)
#check type of variables
type(y)

8.9

float

# TEXT SEQUENCE TYPES 
- STRING ARE A TEXT SEQUENCE DATA TYPE
-  THEY ARE A SEQUENCE OF CHARACTERE
-  THEY ARE IMMUTABLE
-  THEY ARE ORDERED

In [5]:
name = 'harry'
print(name)
#check type of the variables 

type(name)

harry

str

In [6]:
address="at post tq mahagaon dist yavatmal pin code 445205"
print(address)
type(address)

at post tq mahagaon dist yavatmal pin code 445205

str

In [7]:
num= '123'
print(num)
type(num)

123

str

# SEQUENCE TYPES
- THERE ARE THREE KINDS OD SEQUENCE TYPE
- LIST MUTABLE SEQUENCE
- TUPLE: IMMUTABLE SEQUENCE
- RANGE : IMMUTABLE SEQUENCE

### LIST

In [10]:
LIST=[1,2,3,4,'e']
print (LIST)
type (LIST)

[1, 2, 3, 4, 'e']

list

In [11]:
# check length of list
len(LIST)

5

### TUPLE

In [15]:
TUPLE = (1,3,4,'E')
print(TUPLE)
type (TUPLE)

(1, 3, 4, 'E')

tuple

In [16]:
#check the length of tuple 
len(TUPLE)

4

In [19]:
len(TUPLE)

4

In [21]:
T1=1,3,'D',4
type(T1)

tuple

# interview quetions

what is the diffrence between list and tuple 

| list|tuple|
| --- |-----|
|ordered group of comma seperated vales in square bracket | orgered group of comma seperated of comma seperated in parenthesis|
|square brackets are mendatory | parenthesis is not mandatory
| mutable | immutable |
| once ceated ,content changes can be made | once created , content cannot be change |
|should be chosen if content is not fixed ,and keepschanging | chosen if content is fixed and never changes |
|cannot be used as keys for dictionaries | can be used as keys for dictionaries |

In [22]:
my_favs=['pink','samosa','pune']

In [23]:
print(my_favs)

['pink', 'samosa', 'pune']

## RANGE

r1 =range(7)
print(r1)
len(r1)
type(r1)

In [25]:
r2= range(4,15)
len(r2)

11

In [26]:
#DEFINE RANGE WITH (START , STOP,STEP)
r3 = range(2,21,2)

In [27]:
print(r3)

range(2, 21, 2)

In [28]:
len(r3)

10

In [29]:
list(r3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# mapping types
- **dictionary** is a mapping data type 
-  it is mutable 
- unordered

In [30]:
d ={'one':1,'two':2}
print (d)

{'one': 1, 'two': 2}

## set

a set is an unordered cllection data tpe that is iterable , mutable and has no duplicate element

In [31]:
s2= {1,3,4,4,5,2}
print(s2)

{1, 2, 3, 4, 5}

## boolean types
1. state of truth 
     1. may be true or false

In [32]:
b= True 
type(b)

bool

# OPERATORS

- POPULAR KINDS OF OPERATORS 
  - NUMERIC OPERATOR 
  - COMPARISON  OPERATORS
  - LOGICAL OPERATORS
  - ASSIGNMENT OPERATOR 
  - IDENTIFY OPERATOR 
  - MEMBERSHIP OPERATOR 
- SOME ARE DISCUSSED BELOW

## NUMERIC OPERATOR 

- USED WITH NUMERIC DATA TYPES TO PERFORM MATHEMATICAL OPERATIONS 
 - +: ADDITION 
 - -: SUBTRACTION 
 - *: MULTIPLICATION 
 - / : DIVISION
 - // : FLOOR DIVISION 
 - % : MODULUS (REMAINDER)
 - ** : RAISING TO POWER 
 - abs() : absolute value of numnber 
 - round() : round a number 
 - bin() : get binary version of  a number 
 -hex() : get hexadecimal version of a nmber

In [36]:
x=5 
y=2
z=-12

In [37]:
# sum of x and y
x+y

7

In [38]:
# difference of x and y 
print(x-y)

3

In [39]:
#product of x and y
print(x*y)

10

In [40]:
#quotient of x and y 
print(x/y)

2.5

In [41]:
#floor quotient of x and y
print (x//y)

2

In [42]:
# remainder of x and y 
x%y

1

In [43]:
#absulute value 
abs(z)

12

In [44]:
#  x raised to power y 
print (x ** y)

25

In [45]:
print (y ** x)

32

In [46]:
# rounding the decima example - round down 
round (2.1)

2

In [47]:
# rounding a decimal example - round up
round(4.9)

5

In [48]:
round(4.5)

4

In [49]:
round(4.55)

5

In [50]:
a = 3.1456783
print (a)
round(a,2)

3.1456783

3.15

In [51]:
# binary version of the number 
bin(37)

'0b100101'

In [52]:
hex(12)

'0xc'

excerise : 
 create a variable with the values of pi as 3.14 creae a new variable as radius and asssign it a float value , this will be the radius of a circle and then output the area of the cercle using the formula pi* radius^2

In [1]:
pi=3.14
radius = 4.5
p=pi*radius**2
print(p)

63.585

In [2]:
# create  a program to calculate simple intrest
p=1000
r=4
t=2
si=(p*r*t)/100

In [3]:
print(si)

80.0

In [5]:
p= float(input('enter principal amount'))
r=float(input('enter r'))
t=float(input('enter time' ))
Si =(p*r*t)/100
print (si)

enter principal amount 1000
enter r 4
enter time 3

80.0

In [6]:
'1'+'1'

'11'

# comparison operator

+ used to compare to values
+ <:less than
+ **>**greater than
+ <=less than or equa to
+ == :equality
+ !=:inquality

In [1]:
i=3
j=7
print(i<j)

True

In [2]:
print(i>j)

False

In [3]:
i<=j

True

In [4]:
i>=j

False

In [5]:
i==j

False

In [6]:
j!=j

False

# logical operator

+ used to combine conditional statements
+ and
+ or
+  not

In [7]:
a=True 
b=True
print(a and b)
print(a or b)

True
True

In [9]:
a=True 
b=False
print(a and b)
print(a or b)

False
True

In [11]:
a=False
b=True 
print(a and b)
print(a or b)

False
True

In [12]:
a=False
b =False
print(a and b)
print(a or b)

False
False

# assignment Operator 


     - used to assign values to variables
                 =
following operator combine numerical operations at the same time as assignment 
+  +=
+ -=
+  *=
+  /=
+  //=
+  %=
+  **=

In [13]:
a=1
a+=1
print(a)

2

In [14]:
a=22
a-=1
print(a)

21

In [15]:
a=9
a/=3
print(a)

3.0

In [16]:
a=9
a//=3
print(a)

3

In [17]:
a=4
a%=2
a

0

In [18]:
a=5
a**=2
a

25

# identity operator

- used to compare objects
- not if they are equal
- but it they are actually the same object 
-  with the same memory location 

- two identity operator 
   + is 
    + is not

In [2]:
x='apple','banana'
y='apple','banana'
z=x
x is z// memory location is same

True

In [3]:
x is y# memory location is not equal

False

In [4]:
x==y //it check the values

True

In [5]:
x is not y

True

# membership Operator

+ used to test if a sequence has specified object 
+ two membership operators
  - in 
  - not in

In [6]:
justice_league=['superman','wonderwomen','batman','Aquaman','Flash']
justice_league

['superman', 'wonderwomen', 'batman', 'Aquaman', 'Flash']

In [7]:
'superman' in justice_league

True

In [8]:
'abc' in justice_league

False

In [9]:
'abc'not in justice_league

True